@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300;500&display=swap');
body {
    margin: 0;
    padding: 0;
    /*background: #F2F1ED;*/
    color: #444;
}
#stories  {
  padding: 0 20px;
}
.hed {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0px;
  align-items: flex-end;
  margin-bottom: 10px;
}
.hed h3 {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-family: 'Noto Serif', serif;
}
.hed p {
  max-width: 500px;
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
  color: #636363;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
.story {
  margin: 50px auto;
}
.scroll-container {
  position: relative;
  width: 100%;
  max-width: 900px;
}
.role .label,
.tool .label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.roles span,
.tools span {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #999;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.image-slide {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 10px; */
  display: flex;

  /* display: flex; */
  width: 100%;
margin: auto;
/* border: solid black 2px; */
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
scroll-snap-type: x mandatory;
scroll-snap-stop: always;
position: relative;
}
.image {
  flex: 0 0 49%; /* Fixed width of 50% for each column */
  margin-right: 1%; 
  height: fit-content;
  display: block;
  border: 1px solid #ddd;
  border-radius: 15px;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}
.image:last-child {
  margin-right: none;
}
button svg {
  width: 30px;
  height: 30px;
}
@media(max-width: 700px) {
  button svg {
    width: 15px;
    height: 15px;
  }
  .image {
    flex: 0 0 100%; /* Fixed width of 50% for each column */
    margin-right: 0;
  }
}
.role,.tool {
  display: grid;
  grid-template-columns: auto auto;
  max-width: fit-content;
  align-items: flex-start;
  column-gap: 10px;
}
.role {
  margin-bottom: 5px;
}

.dots {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 8px;
  max-width: fit-content;
  margin: 10px auto;
}
.dot {
  widtH: 10px;
  height: 10px;
  bordeR: 1px solid #000;
  border-radius: 50%;
}

.award {
  font-size: 1rem;
  background: #333;
  color: #fff;
  padding: 0.25rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.test{
    line-height: 1.2;
font-weight: bold;
   font-family: 'Roboto',sans-serif;

}
.name{
  font-size: 3em;
  font-weight: bold;
  color: rgb(68,68,68);
  font-family: 'Noto Serif', serif;

}
.btn{
    font-size: 1em;
      font-family: 'Roboto',sans-serif;
  font-weight: bold;
      color: #444;
}

.aboutMe{
      padding: 2em;
  margin: 0 auto;
    margin-top: 1em;
  margin-bottom: 1em;
  max-width: 850px;
  color: #636363;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

#myBtnContainer{
  display: inline-block;
  
}
.toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  
}
.container{
  margin: 0 auto;
  max-width: 850px;
}

img, video {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.title{
  bottom: 0;
  position: relative;
    max-width: 500px;
  margin: 0 auto;
  margin-top: 1em;
}

.project{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.g-headline{
font-size: 1.5em;
  
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    color: #131313;
}
.g-date{
      font-family: 'Roboto',sans-serif;
  color: #aaa;
  font-size: 0.8em;
}

.g-body{
  Font-Family: 'Lora', Serif;
Font-Size: 1em;
}









.filterDiv {
  display: none;
}

.show {
  display: inline-flex;
}

.container {
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btns button {
  background-color: rgba(0,0,0,0);
  border: none;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background: #DE5A51;
  color: #f7f7f7;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}



body {
  /* Never get smaller than this */
  font-size: 14px;
}

@media (min-width:600px) {
  body {
    font-size: 16px;
  }
}

@media (min-width:800px) {
  body {
    font-size: 16px;
  }
}

@media (min-width:1000px) {
  body {
    /* Never get larger than this */
    font-size: 16px;
  }
}
a{
color: #698d6e;  
}
