body {
    margin: 0;
    padding: 0;
    /*background: #F2F1ED;*/
    color: #444;
}

.test{
    line-height: 1.2;
font-weight: bold;
   font-family: 'Roboto',sans-serif;
    color: #DE5A51;
}
.name{
  font-size: 3em;
      font-family: 'Roboto',sans-serif;
  font-weight: bold;
}
.btn{
    font-size: 1em;
      font-family: 'Roboto',sans-serif;
  font-weight: bold;
      color: #444;
}

.aboutMe{
      padding: 2em;
  margin: 0 auto;
    margin-top: 1em;
  margin-bottom: 1em;
  max-width: 850px;
  font-size: 1.2em;
  Font-Family: 'Lora', Serif;

}

#myBtnContainer{
  display: inline-block;
  
}
.toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  
}
.container{
  margin: 0 auto;
  max-width: 850px;
}

img{
  width: 100%;
  margin: 0 auto;
  display: block;
      max-width: 500px;
}

.title{
  bottom: 0;
  position: relative;
    max-width: 500px;
  margin: 0 auto;
  margin-top: 1em;
}

.project{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.g-headline{
font-size: 1.5em;
  
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    color: #131313;
}
.g-date{
      font-family: 'Roboto',sans-serif;
  color: #aaa;
  font-size: 0.8em;
}

.g-body{
  Font-Family: 'Lora', Serif;
Font-Size: 1em;
}









.filterDiv {
  display: none;
}

.show {
  display: inline-flex;
}

.container {
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background: #DE5A51;
  color: #f7f7f7;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}



body {
  /* Never get smaller than this */
  font-size: 14px;
}

@media (min-width:600px) {
  body {
    font-size: 16px;
  }
}

@media (min-width:800px) {
  body {
    font-size: 16px;
  }
}

@media (min-width:1000px) {
  body {
    /* Never get larger than this */
    font-size: 16px;
  }
}

a:hover {
color: #DE5A51;
}